.match{
  width: 600px;
  display: flex;
  flex-direction: column;
}

.game{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.team{
  width: 200px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.games{
  margin-bottom: 3rem;
}

.time{
  &::after{
    content: "'";
  }
}
